<% if @first_turtle.present? %>
    <div class="row">
      <div class="col-md-6">
        <h3>My Turtles</h3>
        <div class="turtle-info">
          <div class="name"><%= @first_turtle.name.capitalize %></div>
          <div class="bio"><%= @first_turtle.bio %></div>
          <div class="photo"></div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Network Settings</h3>
        <% if @first_network.present? && @connection.present? %>
          <div>
            <div class="last-connect-time">Last Connection Time: <%= @connection.updated_at %></div>
            <div class="nw-name">Network Name: <%= @first_network.name %></div>
            <div class="ip-address">IP Address: <%= @connection.ip_address %></div>
          </div>
        <% else %>
          <a class="btn btn-primary" href="networks/new" role="button">Connect Turtle to Network</a>
        <% end %>
      </div>
    </div>
<% else %>
    <h3>My Turtles</h3>
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-primary" href="turtles/new" role="button">Add Turtle</a>
      </div>
    </div>
<% end %>


<div class="row">
  <div class="col-md-12">
    <h3>App Store</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>App Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% @apps.each do |app| %>
            <tr class="clickable-row" data-href="/apps/<%= app.id %>">
              <td><%= app.name %></td>
              <td><%= app.description %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
